JWT_SECRET=supersecretkey

PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=gen_payment

GATEWAY_EMAIL=dev@betalent.tech
GATEWAY_TOKEN=FEC9BB078BF338F464F96B48089EB498
GATEWAY_TOKEN2=tk_f2198cc671b5289fa856
GATEWAY_SECRET=3d15e8ed6131446ea7e3456728b1211f

MYSQL_DB_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=gen_payment